{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-xl-6">
            <div class="card Recent-Users">
                <div class="card-header">
                    <h5>Recent Users</h5>
                </div>
                <div class="card-block px-0 py-3">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            {% for  emp in recentEmployeeInYear %}
                                <tr class="unread">
                                    <td><img class="rounded-circle" style="width:40px;"
                                             src="{{ vich_uploader_asset(emp, 'thumbnailFile') }}"
                                             alt="{{ emp.thumbnail }}"></td>
                                    <td>
                                        <h6 class="mb-1">{{ emp.firstName }} {{ emp.lastName }}</h6>
                                        <p class="m-0">{{ emp.user.email }}</p>
                                    </td>
                                    <td>
                                        <h6 class="text-muted">
                                            <i class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                            {{ emp.createAt|date("F jS") }}
                                        </h6>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6">
            <canvas id="citizenChart" height="250"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-6"></div>
        <div class="col-md-12 col-xl-6">
            <canvas id="quoteChart" width="400"></canvas>
        </div>
    </div>
{% endblock %}
{% block body_javascript %}
    <script src="{{ asset('bundles/chart/Chart.min.js') }}"></script>
    <script>
        var quoteChart = new Chart(document.getElementById('quoteChart'), {
            type: 'line',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                ],
                datasets: [{
                    label: '# number of quotation monthly',
                    data: {{ quoteData|json_encode() }} ,
                    backgroundColor: [
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderWidth: 1
                }]

            },
            options: {
                scales: {
                    yAxes: [{
                        stacked: true
                    }]
                }
            }

        });
        var myChart = new Chart(document.getElementById('citizenChart'), {
            type: 'bar',
            data: {
                labels: ['Under 20', '20 - 39', '40 - 59', '60 - 79', 'Above 79'],
                datasets: [{
                    label: '# of Age',
                    data: {{ citizenData|json_encode() }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}